.sidebar_container{
    overflow-y: auto;
    overflow-x:hidden;
    height:100%;
    width:15%;
    min-width: 100%;
    background: cadetblue;
    display:flex;
    flex-direction: column;
}
.sidebar_container input{
    font-family:'Roboto', sans-serif;
    font-size:16px;
    min-height:50px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    outline: none;
    border:none;
}
.add_button{
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:20px;
    min-height:50px;
    background: #00b6fb;
    width:100%;
    cursor: pointer;
    transition:.5s;
}
.add_button:hover {
    background: cadetblue;
    color: white;
    border-bottom: 1px solid white;
}

.single_category_item{
    display: flex;
    align-items:center;
    cursor:pointer;
    min-height:50px;
    word-break: break-all;
    padding:0px 25px 0px 20px;
    font-size:18px;
    color:white;
    transition:.5s;
}
.single_category_item:hover{
    background: #00b6fb;
}
.popupHead{
    height:100%;
}

.grid_col_item{
    font-size: 16px;
    padding: 0 0 0 5px;
    display: flex !important;
    align-items: center;
    margin: 0 0 -1px -1px;
    word-break: break-all;
}
/*
.grid_col_item:nth-child(even){
    background: #9fceed;
}
.grid_col_item:nth-child(odd){
    background: #d5eaf5;
}*/
#tableRender .ant-row:nth-child(even){
    background: #9fceed;
}
#tableRender .ant-row:nth-child(odd){
    background:#d5eaf5;
}
#tableHeaderRow{
    font-size:16px;
    background:#9fceed !important;
    border-bottom:2px solid #2f4754;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
}
#Content1{
    overflow:hidden;
}

@media (max-width: 768px){
    .grid_col_item{
        font-size:1.5vw;
    }
    #tableHeaderRow{
        font-size:1.5vw;
    }
}

@media(max-width: 768px){
    .grid_col_item{
        font-size:12px;
    }
    #tableHeaderRow{
        font-size:12px;
    }
}

@media (max-width: 525px) {
    .grid_col_item{
        font-size:10px;
    }
    #tableHeaderRow{
        font-size:10px;
    }
}
.ant-row{
    min-height: 50px !important;
}