.sidebar_container{

    height:100%;
    width:15%;
    min-width: 250px;
    background: cadetblue;
    display:flex;
    flex-direction: column;
}
.sidebar_container input{
    font-family:'Roboto', sans-serif;
    font-size:16px;
    height:50px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    outline: none;
    border:none;
}
.add_button{
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:20px;
    height:50px;
    background: #00b6fb;
    width:100%;
    cursor: pointer;
    transition:.5s;
}
.add_button:hover {
    background: cadetblue;
    color: white;
    border-bottom: 1px solid white;
}

.single_category_item{
    display: flex;
    align-items:center;
    cursor:pointer;
    height:50px;
    padding:0px 25px 0px 20px;
    font-size:20px;
    color:white;
    transition:.5s;
}
.single_category_item:hover{
    background: #00b6fb;
}
.popupHead{
    height:100%;
}