.task_window_container{
    width:85%;
    height:90%;
    display: flex;
    justify-content: center;
}
.task_window_display{
    display: block;
    background: white;
    width:80%;
    height:80%;
    border-radius: 5px;
}
.window_hidden{
    display: none;
}

@media (max-width: 768px){

}